@import "bulma-helpers/css/bulma-helpers.min.css";

.shadowless {
  box-shadow: none;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.has-text-purple {
  color: #7d8fa0;
}
